{% extends "AdminNavbar.html" %}
{% set active_page = "Manage Staff" %}

{% block title %} 
Add Staff
{% endblock %}

{% block body %}
  <form action="{{ url_for('add_staff') }}" class="marginall form" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <h3>
      Add New Staff
    </h3>
    <div class="form-group">
      <label for="InputStaffID">Staff ID</label>
      <input type="text" class="form-control" name="StaffID" id="InputStaffID" aria-describedby="emailHelp">
    </div>
    <div class="form-group">
      <label for="InputName">Name</label>
      <input type="text" class="form-control" name="StaffName" id="InputName" aria-describedby="emailHelp" placeholder="Enter Name"
        oninvalid="setCustomValidity('Enter Name between length 2 to 50')" minlength="2" maxlength="50" required>
    </div>
    <div class="form-group">
      <label for="InputAge">Age</label>
      <input type="number" class="form-control" name="StaffAge" id="InputAge" aria-describedby="emailHelp" placeholder="Enter Age"
        oninvalid="setCustomValidity('Enter Age between length 1 to 3')" minlength="1" maxlength="3" required>
    </div>
    <div class="form-group">
      <label>Gender</label>
      <br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="StaffGender" id="inlineRadio1" value="m" checked>
        <label class="form-check-label" for="inlineRadio1">Male</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="StaffGender" id="inlineRadio2" value="f">
        <label class="form-check-label" for="inlineRadio2">Female</label>
      </div>
    </div>
    <div class="form-group">
      <label for="InputPhone">Phone Number</label>
      <input type="number" class="form-control" name="StaffPhone" id="InputPhone" aria-describedby="emailHelp" placeholder="Enter Phone Number"
        oninvalid="setCustomValidity('Enter Phone Number of length 10')" minlength="10" maxlength="10" required>
    </div>
    <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" class="form-control" name="StaffPassword" id="InputPassword" placeholder="Password"
        oninvalid="setCustomValidity('Enter Password between length 8 to 128')" minlength="8" maxlength="128" required>
    </div>
    <div class="form-group">
      <label for="InputSalary">Salary</label>
      <input type="number" class="form-control" name="StaffSalary" id="InputSalary" aria-describedby="emailHelp" placeholder="Enter Salary"
        oninvalid="setCustomValidity('Enter Salary between length 5 to 10')" minlength="5" maxlength="10" required>
    </div>
    <button type="submit" class="btn btn-primary" name="StaffAdd">Add</button>
  </form>

  <form action="{{ url_for('remove_staff') }}" method="POST" class="marginall form">
    <h3>
      Remove Staff
    </h3>
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="form-group">
      <select class="form-select" style="height:2.1em;width:100%; border-style: solid;border-width: 1px;border-radius:5px" name="selectedID" id="StaffNameSelected" aria-label="Default select">
        <option value=-1 selected>Select Staff</option>
        {% for id, name in staffs %}
        <option value="{{ id }}">{{ name }}</option>
        {% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-primary" name="StaffRemove">Remove</button>
  </form>
{% endblock %}