{% extends 'StaffNavbar.html' %}
{% set active_page = 'Complaints' %}

{% block title %}
Complaints
{% endblock %}

{% block body %}
  <div id="card-holder">
    <h3 style="margin-left: 1em;margin-top: 1em;">
      Your pending complaints
    </h3>
    {% for complaint in yc %}
    <div data-cid="{{ complaint[0] }}" class="card marginall border-dark mb-3">
      <div class="card-header">
        <div style="margin:0;float:left">{{ complaint[5] + ", " + complaint[6] }}</div>
        <div style="margin:0;float:right;color:black">
          <form action="{{url_for('staff_complaint')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="cid" value="{{ complaint[0] }}">
            <input class="btn btn-secondary" name="resolve" type="submit" value="Resolved">
          </form>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ complaint[3] }}</h5>
        <p class="card-text">{{ complaint[4] }}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
      <div class="card-footer text-muted">
        <div style="float:left">{{ complaint[2] }}</div>
        <div style="float:right;color:black">{{ complaint[1] }}</div>
      </div>
    </div>
    {% endfor %}
    <!-- <br /> -->
    <h3 style="margin-left: 1em;margin-top: 1em;">
      Unassigned complaints
    </h3>
    {% for complaint in unc %}
    <div data-cid="{{ complaint[0] }}" class="card marginall border-dark mb-3">
      <div class="card-header">
        <div style="margin:0;float:left">{{ complaint[5] + ", " + complaint[6] }}</div>
        <div style="margin:0;float:right;color:black">
          <form action="{{url_for('staff_complaint')}}" method="POST">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <input type="hidden" name="cid" value="{{ complaint[0] }}">
            <input class="btn btn-secondary" name="assign" type="submit" value="Select Complaint">
          </form>
        </div>
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ complaint[3] }}</h5>
        <p class="card-text">{{ complaint[4] }}</p>
        <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
      </div>
      <div class="card-footer text-muted">
        <div style="float:left">{{ complaint[2] }}</div>
        <div style="float:right;color:black">{{ complaint[1] }}</div>
      </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}