{% extends "HouseNavbar.html" %}
{% set active_page = "Guest" %}

{% block title %} 
Guest Log
{% endblock %}

{% block body %}

<div>
  <h3 class="marginall">
    List of Guests visited your house
  </h3>
  <div style="margin: 0em 10% 5em 10%;">
    {% if guests %}
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Guest Details</th>
        <th>Time of Visit</th>
      </tr>
      </thead>
      <tbody>
      {% for guest in guests %}
      <tr>
        <th scope="row">{{ guest[0] }}</th>    
        <th scope="row">{{ guest[1]|datetimeformat }}</th>    
      </tr>  
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h4>
      You have no guest visits
    </h4>
    {% endif %}
  </div>
</div>

{% endblock %}