{% extends "AdminNavbar.html" %}
{% set active_page = "Manage House" %}

{% block title %}
List House Owners
{% endblock %}

{% block body %}
<h3 class="marginall">List of House Owner</h3>
<div style="margin: 0em 10% 5em 10%">
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">House_No</th>
            <th scope="col">Owner's Name</th>
            <th scope="col">Owner's Age</th>
            <th scope="col">Owner's Gender</th>
            <th scope="col">Owner's Phone_No</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for owner in owners %}
        <tr>
            <th scope="row">{{ owner[0] }}</th>
            <td>{{ owner[1] }}</td>
            <td>{{ owner[2]|calculateAge }}</td>
            <td>{{ owner[3] }}</td>
            <td>{{ owner[4] }}</td>
            <td>
                <form action="{{ url_for('update_house_owner') }}" method="GET">
                    <input type="hidden" value="{{ owner[0] }}" name="hno">
                    <input
                            type="submit"
                            class="btn btn-secondary"
                            style="background-color: #343a40"
                            value="Update"
                    >
                </form>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
