{% extends "AdminNavbar.html" %}
{% set active_page = "Manage Complaint" %}

{% block title %}
Add Notice
{% endblock %}


{% block body %}
<div id="card-holder">
    {% for complaint, staff in complaints %}
    {% if complaint[4] != 'Unassigned' %}
    <div data-cid="{{ complaint[0] }}" class="card marginall border-dark mb-3">
        <div class="card-header">
            <div style="margin:0;float:left">{{ complaint[5] + ", " + complaint[6] }}</div>
            <div data-sid="{{ staff[1] }}" style="margin:0;float:right;color:black">Assigned Staff: {{ staff[2] }}</div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ complaint[2] }}</h5>
            <p class="card-text">{{ complaint[3] }}</p>
        </div>
        <div class="card-footer text-muted">
            <div style="float:left">{{ complaint[1]|datetimeformat }}</div>
            <div style="float:right;color:black">{{ complaint[4] }}</div>
        </div>
    </div>
    {% else %}
    <div data-cid="{{ complaint[0] }}" class="card marginall border-dark mb-3">
        <div class="card-header">
            <div style="margin-top:0.2em;float:left">{{ complaint[5] + ", " + complaint[6] }}</div>
            <div style="margin:0;padding:0;float:right;color:black">
                <form action="{{ url_for('manage_complaint') }}" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    {{ dropdown|safe }}
                    <input type="hidden" name="cid" value="{{ complaint[0] }}">
                    <input class="btn btn-secondary" style="margin-top:-0.35em;padding:0.2em;" type="submit"
                           value="Assign Staff">
                </form>
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ complaint[2] }}</h5>
            <p class="card-text">{{ complaint[3] }}</p>
        </div>
        <div class="card-footer text-muted">
            <div style="float:left">{{ complaint[1] }}</div>
            <div style="float:right;color:black">{{ complaint[4] }}</div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endblock %}