{% extends "HouseNavbar.html" %}
{% set active_page = "Notifications" %}

{% block title %} 
Notifications
{% endblock %}

{% block body %}

<div>
  <h3 class="marginall">
    Notifications
  </h3>
  <div style="margin: 0em 10% 5em 10%;">
    {% if notifs %}
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Time</th>
        <th>Text Message</th>
      </tr>
      </thead>
      <tbody>
      {% for notif in notifs %}
      <tr>
        <th scope="row">{{ notif[1]|timeDiff }}</th>    
        <th scope="row">{{ notif[0] }}</th>    
      </tr>  
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h4>
      You have no Notifications.
    </h4>
    {% endif %}
  </div>
</div>

{% endblock %}