{% extends "HouseNavbar.html" %}
{% set active_page = "Profile" %}

{% block title %}
Profile
{% endblock %}

{% block body %}
<div style="margin: 0em 65% 5em 5%;">
    <h3 style="margin-left: -2em;margin-top: 1em;margin-bottom: 1em;">Profile</h3>
    <div class="input-group mb-3">
        <div class="input-group-prepend" style="width: 35%;">
          <button class="btn btn-primary" style="width: 100%;" type="button" disabled>Name</button>
        </div>
        <input type="text" class="form-control"  value="{{ details[1] }}" disabled>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend" style="width: 35%;">
          <button class="btn btn-primary" style="width: 100%;" type="button" disabled>DOB</button>
        </div>
        <input value="{{ details[2]|datetimeformat("%d-%m-%Y") }}" type="text" class="form-control" value="2001-05-07" disabled>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend" style="width: 35%;">
          <button class="btn btn-dark" style="width: 100%;" type="button" disabled>Age</button>
        </div>
        <input type="text" class="form-control" value="{{ details[2]|calculateAge }}" disabled>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend" style="width: 35%;">
          <button class="btn btn-dark" style="width: 100%;" type="button" disabled>Gender</button>
        </div>
        <input type="text" class="form-control" value="{{ details[3] }}" disabled>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend" style="width: 35%;">
          <button class="btn btn-dark" style="width: 100%;" type="button" disabled>Phone Number</button>
        </div>
        <input type="text" class="form-control" value="{{ details[4] }}" disabled>
</div>
{% endblock %}
