<!DOCTYPE html>
<html lang="en">

{% set active_page = active_page|default('Search') -%}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/style.css">
    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>


</head>
<body>
<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Society Management</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if active_page == "Search" %}active{% endif %}">
            <a class="nav-link" href="{{url_for('search')}}">Search Residents</a>
            </li>
            <li class="nav-item {% if active_page == "Manage Notice" %}active{% endif %}"">
            <a class="nav-link" href="{{ url_for('list_notice', role='staff') }}">Notices</a>
            </li>
            <li class="nav-item {% if active_page == "Complaints" %}active{% endif %}">
            <a class="nav-link" href="{{url_for('staff_complaint')}}">Complaints</a>
            </li>
            <li class="nav-item dropdown {% if active_page == "Guest" %}active{% endif %}">
            <a class="nav-link dropdown-toggle" href="#" id="GuestDropdown" role="button" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
                Guest
            </a>
            <div class="dropdown-menu" aria-labelledby="StaffDropdown">
                <a class="dropdown-item" href="{{ url_for('add_guest') }}">Add Guest</a>
                <a class="dropdown-item" href="{{ url_for('list_guest') }}">List Guest</a>
            </div>
            </li>
        </ul>
        <a href="{{url_for('logout')}}">
            <button type="button" class="btn btn-light btn-sm">Logout</button>
        </a>
    </div>
</nav>

{% block body %}
{% endblock %}

</body>
</html>