{% extends "HouseNavbar.html" %}
{% set active_page = "Complaint" %}

{% block title %} 
Your Complaints
{% endblock %}

{% block body %}
      
  <!-- body/content -->

  <div id="card-holder">
    {% for complaint in complaints %}
    {% if complaint[4] != 'Unassigned' %}
    <div data-cid="{{ complaint[0] }}" class="card marginall border-dark mb-3">
        <div class="card-header">
            <div data-sid="{{ complaint[5] }}" style="margin:0;float:right;color:black">Assigned Staff: {{ complaint[6] }}</div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ complaint[2] }}</h5>
            <p class="card-text">{{ complaint[3] }}</p>
        </div>
        <div class="card-footer text-muted">
            <div style="float:left">{{ complaint[1]|datetimeformat }}</div>
            <div style="float:right;color:black">{{ complaint[4] }}</div>
        </div>
    </div>
    {% else %}
    <div data-cid="{{ complaint[0] }}" class="card marginall border-dark mb-3">
        <div class="card-header">
            <div style="margin:0;padding:0;float:right;color:black">
              No Staff Assigned
            </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">{{ complaint[2] }}</h5>
            <p class="card-text">{{ complaint[3] }}</p>
        </div>
        <div class="card-footer text-muted">
            <div style="float:left">{{ complaint[1]|datetimeformat }}</div>
            <div style="float:right;color:black">{{ complaint[4] }}</div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
{% endblock %}